/* ------------------------------Homepage--------------------------------------- */

.husky-custom-content__box {
  margin: auto;
  max-width: 70%;
}

.husky-custom-content__box .prose p {
  margin: 0;
}

.husky-flex-column {
  flex-direction: column;
}

.husky-badges-container .section__subheading {
  color: white;
  text-transform: uppercase;
  font-size: large;
  max-width: 80%;
  /* text-align: center; */
  margin: auto;
}

.husky-badge-title {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
}

.husky-badge-desc {
  text-transform: uppercase;
  color: white !important;
}

/* ------------------------------Collection page--------------------------------------- */

.husky-add-to-cart {
  background-color: #308eb4 !important;
  border: none !important;
  color: white !important;
}

.prod__tag-sale {
  background-color: #308eb4;
}

/* ------------------------------Product page--------------------------------------- */

.prod__sku {
  font-weight: bold;
}

.main-product__block {
  margin-top: 0px !important;
}

.prod__additional_infos li {
  margin-top: 0px !important;
}

.husky-regular-price {
  color: #308eb4;
}

/* ------------------------------Footer--------------------------------------- */

@media screen and (min-width: 768px) {
  .husky-footer-block-title {
    display: none;
  }
}
