/* ------------------------------Homepage--------------------------------------- */

.husky-custom-content__box {
  margin: auto;
  max-width: 70%;
}

.husky-custom-content__box .prose p {
  margin: 0;
}

.husky-flex-column {
  flex-direction: column;
  padding-bottom: 0;
}

.husky-badges-container .section__subheading {
  color: white;
  text-transform: uppercase;
  font-size: large;
  max-width: 80%;
  /* text-align: center; */
  margin: auto;
}

.husky-badge-title {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
}

.husky-badge-desc {
  text-transform: uppercase;
  color: white !important;
}

.husky-badge-main-text {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
  .husky-badge-main-text {
    display: none;
  }

  .husky-badge-title {
    text-transform: capitalize;
    width: 100%;
    padding-top: 5px;
    font-weight: 500;
  }

  .husky-flex-column {
    padding: 0px;
  }
}

@media screen and (max-width: 414px) {
  .husky-badge-title {
    text-transform: capitalize;
    width: 100%;
    padding-top: 5px;
    font-weight: 300;
    font-size: 11px;
    line-height: 0.9;
  }
}

/* ------------------------------Collection page--------------------------------------- */

.husky-add-to-cart {
  background-color: #308eb4 !important;
  border: none !important;
  color: white !important;
}

.prod__tag-sale {
  background-color: #308eb4;
}

/* ------------------------------Product page--------------------------------------- */

.prod__sku {
  font-weight: bold;
}

.main-product__block {
  margin-top: 12px !important;
}

.main-product__block-meta {
  margin-top: 0 !important;
}

.prod__additional_infos li {
  margin-top: 0px !important;
}

.husky-regular-price {
  color: #308eb4;
}

.main-product__block-description .prose span {
  color: black;
}

.prod__option-label__quantity {
  display: none;
}

.specs-manual-row button {
  background-color: white;
  border: 2px solid #7c7c7c;
  color: black;
}

.sirius-manual-btn:hover {
  color: #308eb4;
  border: 2px solid #308eb4;
}
/* ------------------------------Footer--------------------------------------- */

@media screen and (min-width: 768px) {
  .husky-footer-block-title {
    display: none;
  }
}
